.modal-contact {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-contact {
    border-radius: 5%;
    background-color: rgb(199, 192, 192);
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(56, 56, 56);
    width: 15%;
    height: 50%;
}

.close-contact {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-contact,
.close-contact:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

img {
    width: 100%
  }